<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/main.css">
    <title>Stewardle</title>
</head>
<body>
    <h1>Stewardle</h1>
    <div class="board">
        <div class="row header">
            <div class="frame header"><div class="text">Num</div></div>
            <div class="frame header"><div class="text">Age</div></div>
            <div class="frame header"><div class="text">Year</div></div>
            <div class="frame header"><div class="text">Geo</div></div>
            <div class="frame header"><div class="text">Team</div></div>
            <div class="frame header"><div class="text">Wins</div></div>
        </div>
        <div class="row">
            <div class="frame"></div>
            <div class="frame"></div>
            <div class="frame"></div>
            <div class="frame"></div>
            <div class="frame"></div>
            <div class="frame"></div>
        </div>
        <div class="row">
            <div class="frame"></div>
            <div class="frame"></div>
            <div class="frame"></div>
            <div class="frame"></div>
            <div class="frame"></div>
            <div class="frame"></div>
        </div>
        <div class="row">
            <div class="frame"></div>
            <div class="frame"></div>
            <div class="frame"></div>
            <div class="frame"></div>
            <div class="frame"></div>
            <div class="frame"></div>
        </div>
        <div class="row">
            <div class="frame"></div>
            <div class="frame"></div>
            <div class="frame"></div>
            <div class="frame"></div>
            <div class="frame"></div>
            <div class="frame"></div>
        </div>
        <div class="row">
            <div class="frame"></div>
            <div class="frame"></div>
            <div class="frame"></div>
            <div class="frame"></div>
            <div class="frame"></div>
            <div class="frame"></div>
        </div>
        <div class="row">
            <div class="frame"></div>
            <div class="frame"></div>
            <div class="frame"></div>
            <div class="frame"></div>
            <div class="frame"></div>
            <div class="frame"></div>
        </div>
    </div>
    <div class="input">
        <div class="autocomplete" style="width:380px;">
            <input id="myInput" type="text" name="myCountry" placeholder="Driver">
        </div>
    </div>
</body>
<script src="./js/main.js"></script>
</html>