<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/main.css">
    <script src="https://kit.fontawesome.com/134dd703dd.js" crossorigin="anonymous"></script>
    <title>Stewardle</title>
    <meta name="description" content="Test your F1 driver knowledge by guessing the F1 driver using the clues from your previous guesses! Inspired by Wordle, created by syhr."
</head>
<body>
    <div class="tutorial">
        <div class="close">
            <i class="fa-solid fa-xmark"></i>
        </div>
        <p>Guess the <b>STEWARDLE</b> in six tries.<br><br>
            Each guess must be a valid F1 driver name who has raced in the 2014 season or later. Hit the enter button to submit.<br><br>
            After each guess, the color of the tiles will change to show how close your guess was to the Driver of the Day
        </p>
        <div class="splitter"></div>
        <p><b>Examples</b></p>
        <div class="row">
            <div class="frame correct"><img class="flag" src="./flags/gb.svg"></div>
            <p>The driver is of British nationality.</p>
        </div>
        <div class="row">
            <div class="frame incorrect"><img class="team" src="./logos/mercedes.webp"></div>
            <p>The driver does not race for Mercedes.</p>
        </div>
        <div class="row">
            <div class="frame previous"><img class="team" src="./logos/williams.webp"></div>
            <p>The driver previously raced for Williams.</p>
        </div>
        <div class="row">
            <div class="frame up"><div class="guess text">44</div></div>
            <p>The number is too low.</p>
        </div>
        <div class="row">
            <div class="frame down"><div class="guess text">103</div></div>
            <p>The number is too high.</p>
        </div>
        <p></p>
        <div class="splitter"></div>
        <p>A new <b>STEWARDLE</b> will be available each day!</p>
    </div>
    <div class="backdrop"></div>
    <div class="title"><h1>Stewardle</h1></div>
    <div class="board">
        <div class="row header">
            <div class="frame header"><div class="text">Driver</div></div>
            <div class="frame header"><div class="text">Geo</div></div>
            <div class="frame header"><div class="text">Team</div></div>
            <div class="frame header"><div class="text">Car<br>Num</div></div>
            <div class="frame header"><div class="text">Driver<br>Age</div></div>
            <div class="frame header"><div class="text">First<br>Year</div></div>
            <div class="frame header"><div class="text">Race<br>Wins</div></div>
        </div>
        <div class="row">
            <div class="frame"></div>
            <div class="frame"></div>
            <div class="frame"></div>
            <div class="frame"></div>
            <div class="frame"></div>
            <div class="frame"></div>
            <div class="frame"></div>
        </div>
        <div class="row">
            <div class="frame"></div>
            <div class="frame"></div>
            <div class="frame"></div>
            <div class="frame"></div>
            <div class="frame"></div>
            <div class="frame"></div>
            <div class="frame"></div>
        </div>
        <div class="row">
            <div class="frame"></div>
            <div class="frame"></div>
            <div class="frame"></div>
            <div class="frame"></div>
            <div class="frame"></div>
            <div class="frame"></div>
            <div class="frame"></div>
        </div>
        <div class="row">
            <div class="frame"></div>
            <div class="frame"></div>
            <div class="frame"></div>
            <div class="frame"></div>
            <div class="frame"></div>
            <div class="frame"></div>
            <div class="frame"></div>
        </div>
        <div class="row">
            <div class="frame"></div>
            <div class="frame"></div>
            <div class="frame"></div>
            <div class="frame"></div>
            <div class="frame"></div>
            <div class="frame"></div>
            <div class="frame"></div>
        </div>
        <div class="row">
            <div class="frame"></div>
            <div class="frame"></div>
            <div class="frame"></div>
            <div class="frame"></div>
            <div class="frame"></div>
            <div class="frame"></div>
            <div class="frame"></div>
        </div>
    </div>
    <div class="input">
        <div class="autocomplete" style="width:380px;">
            <input id="myInput" type="text" placeholder="Driver">
        </div>
    </div>
    <div class="credits">
        <p style="margin-bottom: 0.25em">Inspired by <a href="https://www.nytimes.com/games/wordle/index.html" target="_blank">Wordle</a></p>
        <p style="margin-top: 0px">Created by <a href="https://sy.hr/" target="_blank">syhr</a></p>
        <a href="https://github.com/ssyyhhrr/stewardle" target="_blank"><i class="fa-brands fa-github"></i></a>
    </div>
</body>
<script src="./js/main.js"></script>
</html>