.incorrect {
    background-color: #e21143;
    border-radius: 18%;
}

.previous {
    background-color: #f9bd00;
    border-radius: 18%;
}

.correct {
    background-color: #88ea09;
    border-radius: 18%;
}

.down {
    background-color: #8a2df0;
    border-radius: 0 0 36% 36%;
}

.up {
    background-color: #f9bd00;
    border-radius: 36% 36% 0 0;
}